$container-max-width: 512px;

$topbar-height: 72px;
$color-primary: olive;
$color-border: black;

$spacing-basic-vertical: 8px;
$spacing-basic-horizontal: 16px;
$spacing-basic: $spacing-basic-vertical $spacing-basic-horizontal;

$profile-pic-size: 42px;