// @use 'sass:list';
@use '../../scss/variables' as variables;

.post {
    border: 1px solid variables.$color-border;
    border-radius: 12px;
    // margin: list.nth(variables.$spacing-basic, 1) 0;
    margin: variables.$spacing-basic-vertical 0;
    padding: variables.$spacing-basic;

    &:first-child {
        margin-top: 0;
    }

    &__content {
        margin: calc(variables.$spacing-basic-vertical * 3) 0;
    }
}