@use '@/styles/flex';
@use '@/styles/variables';

.contenido {
  @extend %flex-between;
  background-color: #a06f1b;

  p {
    padding: 32px;
    background-color: #eccb92;

    a {
      color: variables.$color-primary;
    }
  }

  .grande {
    font-size: 2rem;
  }
}
